# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env
.venv/

# IDE (e.g. PyCharm) files
.idea/
*.iml

# macOS specific files
.DS_Store

# Compiled Python modules
*.pyc

# Logs and databases
*.log
*.sql
*.db
*.session

tavrik.session-journal
TgVideos/